@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background: #000;
  color: #0ff;
  font-family: "Press Start 2P", monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  overflow: hidden;
}

#game {
  position: relative;
  width: 400px;
  height: 600px;
  border: 2px solid #0ff;
  margin: 50px auto;
  overflow: hidden;
}

#player {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #0ff;
  bottom: 10px;
  left: 180px;
  border-radius: 4px;
  transition: top 0.02s, left 0.1s;
}

.block {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: red;
  top: 0;
  border-radius: 4px;
  transition: top 0.02s, left 0.1s;
}
.powerup {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: lime;
  box-shadow: 0 0 8px 2px lime;
}

#player.flash {
  animation: flashHit 5s ease-in-out forwards;
}

@keyframes flashHit {
  0% { background-color: red; }
  100% { background-color: #0ff; }
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #0ff;
  font-size: 14px;
  z-index: 100;
}

#start-screen,
#restart-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #111;
  color: #0ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#start-screen h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#restart-screen {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ff5d5d58;
}
#start-btn,
#restart-btn {
  padding: 10px 20px;
  font-size: 12px;
  background: #0ff;
  color: #000;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Press Start 2P", monospace;
  margin-top: 10px;
}
#restart-btn {
  background: #f00;
}
#restart-screen h1 {
  color: #f00;
}

#mobile-controls {
  display: none;
  margin-top: 20px;
}

#mobile-controls button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  background: #0ff;
  border: none;
  border-radius: 10px;
  font-family: "Press Start 2P", monospace;
  color: #000;
}

@media (max-width: 600px) {
  #mobile-controls {
    display: flex;
    justify-content: center;
  }
}
